.table {

    width: 100%;
  
    border-collapse: collapse;
  }
  
  .table thead {
  
    background: #2563eb;
  
    color: white;
  }
  
  .table th,
  
  .table td {
  
    padding: 12px;
  
    text-align: left;
  }
  
  .table tbody tr:hover {
  
    background: #f1f5f9;
  }
  
  .delete {
  
    background: red;
  
    margin-left: 10px;
  }