#root {

  width: 100%;

  min-height: 100vh;

  display: flex;

  flex-direction: column;

}
.dark-mode {

  background: #0f172a;

  color: white;

}


/* MAIN CONTENT */

.dark-mode .main-content {

  background: #00000089;

}


/* TABLE */

.dark-mode table {
  background: linear-gradient(
    180deg,
    #000000f8,
    #1e293b
  );
  color: white;

}


/* NAVBAR */

 
.dark-mode .navbar-top {
  background: linear-gradient(
    180deg,
    #000000f8,
    #1e293b
  );
}


/* FORM */

.dark-mode .modal-content {
  background: linear-gradient(
    180deg,
    #000000f8,
    #1e293b
  );

}