/*
GLOBAL PAGE STRUCTURE
NAVBAR TOP
SIDEBAR LEFT
MAIN CONTENT RIGHT
*/

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}





/*
BODY STRUCTURE
SIDEBAR + MAIN CONTENT
*/

.layout-body {
  display: flex;
  flex: 1;
}


/*
SIDEBAR LEFT
*/

.sidebar {
  width: 240px;
  background: #102445;
  color: white;

  min-height: calc(100vh - 70px);
}


/*
MAIN CONTENT RIGHT
*/

.main-content {
  flex: 1;

  padding: 30px;

  background: #ffffff;

  overflow-y: auto;
}