.navbar-top {

  height: 100px;
  
  display: flex;

  align-items: center;

  justify-content: center;

  position: relative;

  background: #102445;
  color: white;
  border-bottom: 1px solid rgb(24, 26, 107);

}


/* TITLE CENTER */

.navbar-title {

  font-size: 22px;
  font-weight: bold;

}


/* RIGHT SIDE (admin + dark mode) */

.dark-btn {

  position: absolute;

  right: 15px;

  display: flex;

  gap: 20px;

  align-items: center;

}
.user {

  position: absolute;
  font-size: 18px;
  font-weight: bold;
  right: 70px;

  display: flex;

  gap: 20px;

  align-items: center;

}