/*
SIDEBAR LEFT PANEL
*/

.sidebar {
  width: 240px;
  background: #1e293b;
  color: white;

  padding-top: 20px;
}


/*
LOGO STYLE
*/

.logo {
  text-align: center;
  margin-bottom: 40px;

  font-size: 22px;
  font-weight: bold;
}


/*
MENU STYLE
*/

.sidebar ul {
  list-style: none;

  padding: 0;

  display: flex;
  flex-direction: column;

  gap: 10px;
}


/*
MENU ITEMS
*/

.sidebar li {
  padding: 12px 15px;

  border-radius: 8px;

  cursor: pointer;

  display: flex;
  align-items: center;

  gap: 10px;

  transition: 0.3s ease;
}


/*
HOVER EFFECT
*/

.sidebar li:hover {
  background: rgba(255,255,255,0.2);

  transform: translateX(6px);
}


/*
ACTIVE PAGE
*/

.sidebar li.active {
  background: rgba(255,255,255,0.3);

  font-weight: bold;
}


/*
ICONS SIZE
*/

.sidebar svg {
  font-size: 18px;
}
.sidebar a {

  display: flex;
  
  align-items: center;
  
  gap: 10px;
  
  color: white;
  
  text-decoration: none;
  
  padding: 10px;
  
  border-radius: 6px;
  
  transition: 0.2s;
  
  }
  
  .sidebar a:hover {
  
  background: #334155;
  
  }
  
  .active-link {
  
  background: #2563eb;
  
  }

/*
DARK MODE
*/

.dark-mode .sidebar {
  background: linear-gradient(
    180deg,
    #000000f8,
    #1e293b
  );
}